body{
    background-color: #F5DED3;
}
.profile_picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 15px;
    float: left;
}
.profile_name{
    margin-top: 30px;
    margin-left: 100px;
}
.jobseeker_menu{
    background-color: #F5F5F5;
    height: 60px;
    padding-top: 10px;
    margin-top: 3px;
    text-align: center;
}
a {
    color: #303C6C;
    text-decoration: none;
}
.jobseeker_search_section{
    margin-top: 50px;
}
.jobseeker_table_section{
    margin: 10px;
    background-color: #d9d9d9;
}
.menu_class {
    width: 150px;
    height: 40px;
    border: 1px solid white;
}