.box{
    background-color: #F4976C;
}
.input_signup{
    background-color: #E3E1D7;
}
.header_section{
    width: 220px;
    height: 60px;
    color: #303C6C;
    background-color: #91818E;
    font-size: 18px;
}